API_ID=27883552
API_HASH=03e8a15853d2aa580c52aea314d26711
BOT_TOKEN=7799420535:AAEaLmYfZF6Sp_6jPup0KBywxdVDnzlPs60
MONGO_DB_URI=mongodb+srv://pakeya2:userbot@cluster0.vva0b.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGGER_ID=-1002744466686
OWNER_ID=2124032894
STRING_SESSION=BQFwj9sAA4F3YcXhscm3Jy5UjgYKRIg9eAKtrToTl9gYNITz9aovR-PqqOmurItXfvt4b26qxkd4VngA8PImALBeT2F7cIOwk-KU9dsiHxTkd6XftF2r3LT_wwcWMfJBP4yI2EcKx0nsE6Y_X4i-EZnNMsW8Igid2ihw_F4tKaCMm6NdZbx7oJaYtUNQiq4xWt8mb55ju1ZUaFZS5f-bhXElveFllc64nFHNiW2aG7fi1PGOedEn9lfImJyzkwJg7MH1jQhtoPUsBa6z7_uNSI7BYSWyYyyqX7e4NDf-iv7aiNGNFr4y29IWP7mI8FoHqQpD1UVr-5HnwN-HJh3WM-jvWUi-JAAAAAGLi_vuAA
